@import "tailwindcss";

body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white transition-colors duration-200;
}

.app-container {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}