# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
build
*.local

# Environment variables
.env
.env.*
!.env.example
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Server
server/.env
server/.vercel
server/dist
server/node_modules
server/.git
server/.gitignore

# Client
client/node_modules
client/dist
client/build

# Testing
coverage
.nyc_output

# Cache
.npm
.eslintcache
.stylelintcache
.parcel-cache
.cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# Misc
.DS_Store
Thumbs.db
desktop.ini
tmp/
temp/
